:root {
    --primary-color: #03045E;
    --secondary-color: #0077B6;
    --tertiary-color: #E1EFF6;
    --quaternary-color: #FCFCFC;
    --quinary-color: #cee0e4;
    --complementario: #FF840A;
    --error-color: #FF0000;
    --dark-error: #800000;
    --btn-hover: #0aa9ed;
    --modal-background: rgba(0, 0, 0, 0.5);
    --modal-content-background: #fff;
    --modal-width: 80%;
    --modal-padding: 20px;
    --modal-border-radius: 10px;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3, h2, dialog h3 {
    margin: 15px auto;
    text-align: center;
}

header a,
header a:hover {
    text-decoration: none;
    color: inherit;
}

.kayak {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: large;
}

p.kayak span {
    color: var(--complementario);
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    flex-wrap: wrap;
    font-size: 0.7rem;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 5px;
    flex-wrap: wrap;
    word-wrap: none;
}

footer a,
footer a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--btn-hover);
}

button:disabled, button:disabled:hover {
    background-color: var(--quaternary-color);
    color: #999;
    cursor: not-allowed;
}

.peligro:hover {
    background-color: var(--error-color);
}

.peligro {
    background-color: var(--dark-error);
}

.minus {
    text-transform: lowercase;
}

.mayus {
    text-transform: uppercase;
}

a, a:hover {
    color: var(--primary-color);
    text-decoration: none;
}
